aiofiles==24.1.0 ; python_version >= "3.10"
aiogram==3.21.0 ; python_version >= "3.10"
aiohappyeyeballs==2.6.1 ; python_version >= "3.10"
aiohttp==3.12.14 ; python_version >= "3.10"
aiosignal==1.4.0 ; python_version >= "3.10"
annotated-types==0.7.0 ; python_version >= "3.10"
async-timeout==5.0.1 ; python_version == "3.10"
asyncio==3.4.3 ; python_version >= "3.10"
attrs==25.3.0 ; python_version >= "3.10"
certifi==2025.7.14 ; python_version >= "3.10"
frozenlist==1.7.0 ; python_version >= "3.10"
idna==3.10 ; python_version >= "3.10"
magic-filter==1.0.12 ; python_version >= "3.10"
multidict==6.6.3 ; python_version >= "3.10"
propcache==0.3.2 ; python_version >= "3.10"
pydantic-core==2.33.2 ; python_version >= "3.10"
pydantic-settings==2.10.1 ; python_version >= "3.10"
pydantic==2.11.7 ; python_version >= "3.10"
python-dotenv==1.1.1 ; python_version >= "3.10"
typing-extensions==4.14.1 ; python_version >= "3.10"
typing-inspection==0.4.1 ; python_version >= "3.10"
yarl==1.20.1 ; python_version >= "3.10"
